@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px; /* Remove top padding */
  box-sizing: border-box;
}

.aboutContainer {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-top: 0; /* Remove margin to reduce top space */
}

.sectionsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0; /* Further reduce space above containers if needed */
  align-items: center;
  flex-grow: 1;
}

.leftSection {
  width: 30%;
  position: relative;
}

.leftSection::after {
  content: "";
  display: block;
  width: 2px;
  background-color: #8B0000;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  margin-left: 12px;
}

.rightSection {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.userIconContainer {
  text-align: center;
  margin-bottom: 10px;
}

.userIcon {
  font-size: 120px;
}

.userImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #005baa; /* Blue border */
}

.aboutLinks {
  text-align: left;
  padding-left: 10px;
}

.aboutLinks h5 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  align-content: center;
  text-align: center;
}

.aboutLinks ul {
  list-style-type: none;
  padding: 0;
}

.aboutLinks li {
  margin-bottom: 10px;
  text-decoration: none;
  color: #005baa;
  font-size: 1rem;
  display: block;
  padding: 8px;
  border: 1px solid #fff0;
  border-radius: 4px;
  background-color: #fff0;
}

.aboutLinks a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  display: block;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #8B0000;
}

.buttonGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px; /* Gap between the buttons */
  width: 100%;
}

.customButton {
  display: flex;
  align-items: center;
  background-color: white; /* White background color */
  color: #000;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 80%;
  height: 80px; /* Reduced height */
  box-sizing: border-box;
  margin-left: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.customButton:hover {
  background-color: #f0f0f0; /* Lighter background on hover */
  color: #000; /* Black text color on hover */
}

.buttonText {
  margin-left: 10px;
  text-align: left;
}

.buttonTitle {
  font-size: 0.875rem; /* Reduced font size */
  font-weight: bold;
  color: #005baa; /* Main text color set to blue */
}

.buttonDescription {
  font-size: 0.75rem; /* Reduced font size */
  color: #76aede; /* Description text color set to light blue */
}

.iconsize {
  width: 30px; /* Reduced icon size */
  height: 30px; /* Reduced icon size */
}

@media (max-width: 768px) {
  .sectionsContainer {
    flex-direction: column;
    align-items: center;
  }

  .leftSection, .rightSection {
    width: 100%;
  }

  .buttonGrid {
    grid-template-columns: 1fr; /* Single column on smaller screens */
  }
}
