.accessManagementPage {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .accessManagementTitle {
    font-weight: bold;
  }
  
  .backButton {
    background-color: #AA0000;
    color: white;
  }
  
  .accessManagementTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .accessManagementTable th, .accessManagementTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .accessManagementTable th {
    background-color: #AA0000;
    color: white;
  }
  
  .accessManagementTable a {
    color: #AA0000;
    text-decoration: none;
  }
  
  .accessManagementTable a:hover {
    text-decoration: underline;
  }
  