html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex: 0 0 auto; /* Ensure header takes only necessary space */
}

.content-container {
  flex: 1;
  overflow-y: auto;
  background-image: url("../public/images/BGviscadia.jpg"); /* Ensure the path is correct */
  background-size: cover;
  background-position: center;
}
