@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.contactUsPage {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactUsTitle {
  color: #00BFFF; /* Red color for the title */
  margin-bottom: 20px;
}

.contactUsForm {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputField {
  background-color: white;
}

.submitButton {
  background-color: #005baa;
  color: white;
  align-self: center;
  margin-top: 20px;
}
