body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal overflow */
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homeContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #AA0000; /* Red background color */
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.topBarLogo {
  max-width: 40px;
  margin-right: 0px;
}

.topBarText {
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF; /* White text color */
}

.mainContent {
  flex: 1;
  display: flex;
  align-items: flex-start; /* Align to the left */
  padding: 20px;
  box-sizing: border-box;
  margin-left: 20px;
  background-image: url("../public/images/BGviscadia.jpg"); /* Update the image path */
  background-size: cover; /* Ensure the background image covers the container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
}

.leftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.headerLogo {
  width: 80px; /* Adjust the size of the logo */
  height: 80px; /* Adjust the size of the logo */
  margin-bottom: 20px; /* Add some space below the logo */
}

.loginForm {
  background: #FFFFFF; /* White background */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  border: 1px solid #ddd; /* Add a light border */
  padding-right: 40px;
}

.loginInput {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.loginButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.loginButton:hover {
  background-color: #0056b3;
}

.extraOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.extraOptions label {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.extraOptions input[type="checkbox"] {
  margin-right: 5px;
}

.forgotPasswordLink {
  color: #007bff;
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: none;
  margin-left: 20px; /* Add margin to the left */
}

.forgotPasswordLink:hover {
  text-decoration: underline;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}

.footerLogoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footerLogo {
  max-width: 150px;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
